<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h1>User Dashboard</h1>
  
  <button (click)="redirectToMyAccount()" class="margin" style="width:50%;height:33%;">My Account</button>
  <!--<button (click)="redirectToArticleDetails()" class="margin" style="width:50%">New Article</button>
  <button (click)="redirectToArticleDetails()" class="margin" style="width:50%">Liked Articles</button>
  <button (click)="redirectToArticleDetails()" class="margin" style="width:50%">New Article</button>-->
  <button (click)="redirectToMyArticles()" class="margin" style="width: 50%;height: 33%;">My Articles</button>
  <button (click)="redirectToPublished()" class="margin" style="width: 50%;height: 33%;">My Liked Articles</button>

</body>  

</html>
