<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h1>About this website</h1>
  <p>Write Here is a non-profit organization that offers writers a chance to get their articles read by others. Writers will also be able to read other people's articles to improve their own writing. process of creating and programming this website started on December 19th, 2020. The developer(s) will not be disclosing their/his/her name(s) to the general public, due to privacy. </p>

</body>
</html>
