<!DOCTYPE html>
<!--<link rel="stylesheet" href="published.component.css">-->
<html>

<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div *ngIf="isEditor || isWriter">
    <table width="90%">
      <tr>
        <td width="70%">
          <label for="msg" class="msggreen">{{msg}}</label>
        </td>
        <!--Editor's button bar-->
        <td width="25%" align="right">
          <img *ngIf="isEditor || isWriter"
               class="actionbuttonimage"
               src="../_images/Save.png"
               alt="Save Changes"
               (click)="saveArticle()">
          <img *ngIf="isEditor || isWriter"
               class="actionbuttonimage"
               src="../_images/Submit.png"
               alt="Submit"
               (click)="submitArticle()">
          <img *ngIf="isWriter && !isNewArticle"
               class="actionbuttonimage"
               src="../_images/Delete.png"
               alt="Delete"
               (click)="deleteArticle()">
          
          <img *ngIf="isEditor && !isNewArticle"
               class="actionbuttonimage"
               src="../_images/Reject.png"
               alt="Reject"
               (click)="rejectArticle()">
          <img *ngIf="isEditor && !isNewArticle"
               class="actionbuttonimage"
               src="../_images/Publish.png"
               alt="Publish"
               (click)="publishArticle()">
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td>
          <label for="Title">Title</label><br />
          <textarea id="Title" name="Title" rows="1" cols="50" style=" margin-right: 10px;"[(ngModel)]='article.title'></textarea>
        </td>

      </tr>
      <tr>
        <td>
          <label for="Subtitle">Subtitle</label><br />
          <textarea id="Subtitle" name="Subtitle" rows="1" cols="50" style=" margin-right: 10px;"[(ngModel)]='article.subtitle'></textarea>
        </td>
        <td>
          <label for="AuthorDisplayName">Pen name</label><br />
          <textarea id="AuthorDisplayName" name="AuthorDisplayName" rows="1" cols="20"[(ngModel)]='article.authorDisplayName'></textarea>
        </td>
      </tr>

    </table>

    <label for="Summary">Summary</label>
    <br />
    <textarea id="Summary" name="Summary" rows="2" cols="100" [(ngModel)]='article.summary'></textarea>
    <br />
    <label for="Content">Content</label>
    <br />
    <textarea id="Content" name="Content" rows="18" cols="100" [(ngModel)]='article.content'></textarea>
    <br />
    <div *ngIf="!isEditor">
      <label for="Content">Editor Review Notes</label>
      <br />
      <textarea id="EditorReviewNote" name="EditorReviewNote" rows="2" cols="100" [(ngModel)]='article.editorReviewNote'></textarea>
      <br />
    </div>
  </div>

  <div *ngIf="!isEditor && !isWriter">
    <h1>{{ article.title }}</h1>
    <h3>{{ article.subtitle}}</h3>
    <p>{{article.authorDisplayName}}</p>
    <p>{{article.content}}</p>
  </div>



</body>
</html>
