body {
  margin-right: 300px;
}

button {
  margin-top: 200px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 24px;
}

#myFile {
  margin-top: 20px;
  margin-bottom: 10px;
}

.actionbuttonimage {
  width: 30px;
  height: 30px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdownbutton {
    width: 100%;
}
.infolabel {
  background-color: aliceblue;
  font-style: italic, normal;
  font-size: 8px;
  color:darkslateblue
}


.long-button {
  width: 33%;
}
.msgred {
  background-color: cornsilk;
  font-style: italic, normal;
  font-size: smaller;
  color: firebrick
}

.msggreen {
  font-style: italic, normal;
  font-size: smaller;
  color: darkseagreen
}

.smallimage {
  width: 20px;
  height: 20px;
}

.wide-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #ace;
  color: #444;
  cursor: pointer;
  padding: 2px;
  width: 100%;
  text-align: left;
  border: 1px;
  outline: 1px;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

.panel-title > a:before {
  float: right !important;
  font-family: FontAwesome;
  content: "\f068";
  padding-right: 5px;
}

.panel-title > a.collapsed:before {
  float: right !important;
  content: "\f067";
}

.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
  text-decoration: none;
}
