<!DOCTYPE html>
<html>
  <body>
    <h1>Home </h1>
    <h3>Hello user,</h3>
    <p>Welcome to Write Here, a publishing and reading website for aspiring young writers.</p>
    <p>On Write Here, users can read or upload articles. Articles that are good enough, are put up on the website, for other users to read. If you don't want your article to be published, simply state that in your writing.</p>
    <h3>Have fun writing,</h3>
    <p>The Write Here team</p>
    <p>Contact Information: <a href="www.g"></a>writeherehelp@gmail.com</p>
  </body>
</html>
