<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h1>Hall of Fame</h1>
  <div class="dropdown">
    <button margin-bottom="20px" class="dropbtn">Filter</button>
    <div class="dropdown-content">
      <button class="dropdownbutton" onclick="alert('Sort by most views averaged by an author')">Most Viewed Author</button>
      <button class="dropdownbutton" onclick="alert('Sort by most likes on a single article')">Most Liked Author</button>
      <button class="dropdownbutton" onclick="alert('Sort by most published works by an author')">Most Published Author</button>
      <button class="dropdownbutton" onclick="alert('Sort by most popularity recently')">Uprising Authors</button>
      <button class="dropdownbutton" onclick="alert('Sort by most comments that an author has on a single article')">Most Comments </button>
      <button class="dropdownbutton" onclick="alert('Sort by most dislikes on an article to an author')">Most Disliked Author</button>
      <button class="dropdownbutton" onclick="alert('Sort by the author who has gotten the most rejected articles')">Most Rejected Author</button>
    </div>
  </div>
  <h4>Most Viewed Author</h4>
  <br />
  <h4>Most Liked Author</h4>
  <br />
  <h4>Most Published Author</h4>
  <br />
  <h4>Most Uprising Authors</h4>
  <br />
  <h4>Most Comments for an Author</h4>
  <br />
  <h4>Most Disliked Author</h4>
  <br />
  <h4>Most Rejected Author</h4>

</body>
</html>
