<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h1>Current account information.</h1>
  <form>
    <label for="firstnametest">First Name: Dennis</label><br>
    <input type="text" id="firstnametest" name="firstnametest"><br>
    <label for="lastnametest">Last Name: Chan</label><br>
    <input type="text" id="lastnametest" name="lastnametest"><br>
    <label for="gradetest">Grade: 12</label><br>
    <input type="text" id="gradetest" name="gradetest"><br>
    <p>(Please note that your submitted articles will be judged according to the standards of your listed grade level. Grade levels will automatically update according to school years.)</p>
    <label for="pennametest">Penname: ThePreschooler</label><br>
    <input type="text" id="pennametest" name="pennametest"><br>
    <label for="pwdtest">Password: room1d</label><br>
    <input type="password" id="pwdtest" name="pwdtest">
  </form>
  <a href="">Save changes</a>
</body>
</html>
