<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h1>User List</h1>

  <table style="width:90%">
    <thead>
      <tr>
        <th width="10%">Username</th>
        <th width="10%">First Name</th>
        <th width="10%">LastName</th>
        <th width="10%">Grade</th>
        <th width="10%">Country</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let user of userlist">
        <td><a href="userdetails?id={{ user.id }}">{{ user.userName }}</a></td>
      
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.grade}}</td>
        <td>{{user.country}}</td>
      </tr>
    </tbody>
  </table>
  <!--<h3>Write a new article!</h3>
  <a href="/writearticle">New Article</a>-->
</body>
</html>
