<!DOCTYPE html>
<!--<link rel="stylesheet" href="published.component.css">-->

<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <h1>Published Articles</h1>
  <p>Published articles go here.</p>
  <table style="width:100%">
    <tr>
      <th>Title</th>
      <th>Date Published</th>
      <th>Author</th>
    </tr>
    <tr>
      <td><a href="https://localhost:44347/publishedtest">Adam and Bob Chapter 1</a></td>
      <td>2020</td>
      <td>Dennis Chan</td>
    </tr>
  </table>
</body>
</html>
