<!DOCTYPE html>
<!--<link rel="stylesheet" href="published.component.css">-->

<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <h1 *ngIf="!isLiked">Published Articles</h1>
  <h1 *ngIf="isLiked">These are the articles that you have liked.</h1>

  <p *ngIf="!isLiked">Welcome to the home page of all the published articles. On this page you will find articles to read.</p>
  <button (click)="getArticleList()" class="margin">Reload Article List</button><br />
  <div class="dropdown" *ngIf="!isLiked">
    <button margin-bottom="20px" class="dropbtn">Filter</button>
    <div class="dropdown-content">
      <button class="dropdownbutton" onclick="alert('Sort by most views')">Most views</button>
      <button class="dropdownbutton" onclick="alert('Sort by most likes')">Most likes</button>
      <button class="dropdownbutton" onclick="alert('Sort by most recent')">Recent(default)</button>
    </div>
  </div>

  <table style="width:90%" *ngIf="!isLiked">
    <thead>
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Status</th>
        <th>Views</th>
        <th>Upvotes</th>
        <th>Downvotes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of articles">
        <td><a href="articledetails?id={{ a.id }}">{{ a.title }}</a></td>
        <td>{{a.subtitle }}</td>
        <td>{{a.authorDisplayName }}</td>
        <td>{{a.genre}}</td>
        <td>{{a.articleStatus}}</td>
        <td>{{a.viewedCount}}</td>
        <td>{{a.upvote}}</td>
        <td>{{a.downVote}}</td>
      </tr>
    </tbody>
  </table>
  <table style="width:90%" *ngIf="isLiked">
    <thead>
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Author</th>
        <th>Views</th>
        <th>Upvotes</th>
        <th>Downvotes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of articles">
        <td><a href="articledetails?id={{ a.id }}">{{ a.title }}</a></td>
        <td>{{a.subtitle }}</td>
        <td>{{a.authorDisplayName }}</td>
        <td>{{a.viewedCount}}</td>
        <td>{{a.upVote}}</td>
        <td>{{a.downVote}}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
