<!DOCTYPE html>
<!--<link rel="stylesheet" href="published.component.css">-->

<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <h1 >Published Articles</h1>
  
  <p >Welcome to the home page of all the published articles. On this page you will find articles to read.</p>
  <table style="width:90%" >
    <thead>
      <tr>
        <th  width="35%">Title</th>
        <th  width="25%">Author</th>
        <th  width="15%">Genre</th>
        <th width="8%"><span class="glyphicon glyphicon-file" style="color:cornflowerblue"></span></th>
        <th width="6%" ><img src="../_images/VoteUp.png" alt="UpVotes" class="smallimage"></th>
        <th width="6%"><img src="../_images/VoteDown.png" alt="DownVotes" class="smallimage"></th>
        <th width="6%"><img src="../_images/Comment.png" alt="Comments" class="smallimage"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of articles">
        <td><a href="articledetails?id={{ a.id }}">{{ a.title }}</a></td>
        <td>{{a.authorPenName }}</td>
        <td>{{a.genre}}</td>
        <td>{{a.viewedCount}}</td>
        <td>{{a.upVote}}</td>
        <td>{{a.downVote}}</td>
        <td>{{a.commentCount}}</td>
      </tr>
    </tbody>
  </table>
 
</body>
</html>
