<!DOCTYPE html>
<!--<link rel="stylesheet" href="published.component.css">-->
<html>

<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <table width="90%">
    <tr>
      <td width="70%">
        <label for="msg" class="msggreen">{{msg}}</label>
      </td>
      <!--Editor's button bar-->
      <td width="25%" align="right">
        <img class="actionbuttonimage"
             src="../_images/RejectAssignment.png"
             alt="Reject"
             (click)="rejectAssignment()">
        <img class="actionbuttonimage"
             src="../_images/AcceptAssignment.png"
             alt="Accept"
             (click)="acceptAssignment()">
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        <h5 for="Title">Title</h5>
        <label class="contentlabel" id="Title" name="Title" style=" margin-right: 10px;">{{assignment.title}}</label>
      </td>
    </tr>
    <tr>
      <td>
        <h5 for="Subtitle">Subtitle</h5>
        <label class="contentlabel" id="Subtitle" name="Subtitle" style=" margin-right: 10px;">{{assignment.subtitle}}</label>
      </td>
      <td>
        <h5 for="AuthorDisplayName">Pen name</h5>
        <label class="contentlabel" id="AuthorDisplayName" name="AuthorDisplayName" style=" margin-right: 1px;">{{assignment.authorDisplayName}}</label>
      </td>
    <tr>
      <td>
        <h5 for="Genre">Genre</h5>
        <label class="contentlabel" id="Genre" name="Genre">{{assignment.genre}}</label>
      </td>
    </tr>
  </table>

  <h5 for="Summary">Summary</h5>
  <label class="contentlabel" id="Summary" name="Summary" rows="2" cols="100">{{assignment.summary}}</label>
  <br />
  <h5 for="Content">Content</h5>
  <label class="contentlabel" id="Content" name="Content" rows="2" cols="100">{{assignment.content}}</label>
  <br />
  <h5 for="Content">Editor reason Notes</h5>
  <textarea id="EditorReasonNote" name="EditorReasonNote" rows="2" cols="100" [(ngModel)]='assignment.editorReasonNote'></textarea>
  <br />

</body>
</html>
