<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h3>Liked articles</h3>
  <a href="https://localhost:44347/publishedtest">Adam and Bob Chapter 1</a>
  <h3>My articles</h3>
  <a href="https://localhost:44347/publishedtest">Adam and Bob Chapter 1</a>
  <h3>My published articles</h3>
  <a href="https://localhost:44347/publishedtest">Adam and Bob Chapter 1</a>
  <h3>My unpublished articles</h3>
  <a href="https://localhost:44347/unpublishedtest">Adam and Bob Chapter 2</a>
  <h3>My rejected articles</h3>
  <p>Hooray! No rejected articles.(actually i got lazy and i didn't want to make any more new files)</p>
</body>
</html>
