<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h1>My Assignments to edit</h1>

  <button (click)="getAssignmentList()">Reload My Assignment List</button>

  <table style="width:90%">
    <thead>
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Status</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of assignments">
        <td><a href="/assignmentdetails?id={{ a.id }}&isEditable=true">{{ a.title }}</a></td>
        <td>{{ a.subtitle }}</td>
        <td>{{a.authorPenName }}</td>
        <td>{{a.articleStatus}}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
